<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ff734be752.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <header class="home_header">
        <section class="home_header_section">
            <img class="home_header_section_img" src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre" width="280">
            <div class="home_header_section_barra">
                <form action="/buscar" method="get">
                    <input type="text" name="q" placeholder="Buscar..." />
                    <i class="fa-solid fa-magnifying-glass"></i>
                </form>
            </div>
            <p class="home_header_section_p"><i class="fa-solid fa-hand-holding-dollar"></i> Comprar en cuotas y sin tarjeta de crédito</p>
            <ul class="home_header_section_ul_menu">
                <li><a href="#Ofertas">Ofertas</a></li>
                <li><a href="##Tiendas Oficiales">Tiendas Oficiales</a></li>
                <li><a href="#Vender">Vender</a></li>
                <li><a href="#Ayuda">Ayuda</a></li>
            </ul>
            <ul class="home_header_section_ul_datos">
                <li><a href="###Crea Tu Cuenta">Crea Tu Cuenta</a> <i class="far fa-id-card"></i></li>
                <li><a href="#Ingresa">Ingresa</a> <i class="fas fa-arrow-right"></i> </li>
                <li><a href="##Mis Compras">Mis Compras</a> <i class="fas fa-shopping-basket"></i></li>
            </ul>
            <a class="home_header_section_bars"><i class="fas fa-bars"></i></a>
        </section>
    </header>

    <main class="home_main">
        <section class="home_main_section_banner">
            <img src="/images/img-home-banner.jpg" alt="Banner de Mercado Liebre">
        </section>
        <article class="home_main_article_products">
            <div class="home_main_div_products">
                <h3 class="home_main_div_products_h3">Basado en la última vista</h3>
                <img src="/images/img-cafetera-moulinex.jpg" width="300" height="280">
                <div>
                    <i class="fas fa-truck-moving"></i>
                    <p>$6.770</p>
                    <p class="home_main_verdes">40% OFF</p>
                    <h3>Cafetera Moulinex</h3>
                </div>
                <br>
                <img src="/images/img-macbook-pro-2019.jpg" width="300" height="280">
                <div class="home_main_div_products">
                    <i class="fas fa-truck-moving"></i>
                    <p>$230.000</p>
                    <p class="home_main_verdes">20% OFF</p>
                    <h3>MacBook Pro 2019</h3>
                </div>
                <br>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="300" height="280">
                <div>
                    <i class="fas fa-truck-moving"></i>
                    <p>$70.500</p>
                    <p class="home_main_verdes">10% OFF</p>
                    <h3>Samsung Galaxy S10</h3>
                </div>
                <br>
                <img src="/images/img-tv-samsung-smart.jpg" width="300" height="280">
                <div class="home_main_div_products">
                    <i class="fas fa-truck-moving"></i>
                    <p>$23.200</p>
                    <p class="home_main_verdes">40% OFF</p>
                    <h3>Samsung SmarTV 43"</h3>
                </div>
            </div>
        </article>

        <div class="home_main_div_ofertas">
            <h3>Sección de Ofertas</h3>
            <img src="/images/img-cafetera-moulinex.jpg" width="300" height="280">
            <div>
                <i class="fas fa-truck-moving"></i>
                <p>$6.770</p>
                <p class="home_main_verdes">40% OFF</p>
                <h3>Cafetera Moulinex</h3>
            </div>
            <br>
            <img src="/images/img-macbook-pro-2019.jpg" width="300" height="280">
            <div>
                <i class="fas fa-truck-moving"></i>
                <p>$230.000</p>
                <p class="home_main_verdes">20% OFF</p>
                <h3>MacBook Pro 2019</h3>
            </div>
            <br>
            <img src="/images/img-samsung-galaxy-s10.jpg" width="300" height="280">
            <div>
                <i class="fas fa-truck-moving"></i>
                <p>$70.500</p>
                <p class="home_main_verdes">10% OFF</p>
                <h3>Samsung Galaxy S10</h3>
            </div>
            <br>
            <img src="/images/img-tv-samsung-smart.jpg" width="300" height="280">
            <div>
                <i class="fas fa-truck-moving"></i>
                <p>$23.200</p>
                <p class="home_main_verdes">5% OFF</p>
                <h3>Samsung SmarTV 43"</h3>
            </div>
        </div>
    </main>

    <footer class="home_footer">
        <div>
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devuélvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
        </div>
        <div>
            <h4>Copyright © 1999-2023 MercadoLiebre S.R.L</h4>
        </div>
    </footer>
</body>

</html>
