<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ff734be752.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <header class="home_header">
        <section class="home_header_section">
            <div class="home_header_section_cont">
            <div class="home_header_section_busqueda">
                <img class="home_header_section_img" src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre"
                    width="150">

                <form class="home_header_section_busqueda_form " action="/buscar" method="get">
                    <input type="text" name="q" placeholder="Buscar..."  />
                    <button>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                   
                </form>
            </div>
            <p class="home_header_section_p"><i class="fa-solid fa-hand-holding-dollar"></i> Comprar en cuotas y sin
                tarjeta de crédito</p>
            </div>
            <div class="home_header_section_p_2">
                <ul class="home_header_section_ul_menu">
                    <li><a href="#Ofertas">Ofertas</a></li>
                    <li><a href="##Tiendas Oficiales">Tiendas Oficiales</a></li>
                    <li><a href="#Vender">Vender</a></li>
                    <li><a href="#Ayuda">Ayuda</a></li>
                </ul>
                <ul class="home_header_section_ul_datos">
                    <li><a href="/register">Crea Tu Cuenta</a> <i class="far fa-id-card"></i></li>
                    <li><a href="/login">Ingresa</a> <i class="fas fa-arrow-right"></i> </li>
                    <li><a href="##Mis Compras">Mis Compras</a> <i class="fas fa-shopping-basket"></i></li>
                </ul>
                <a class="home_header_section_bars"><i class="fas fa-bars"></i></a>
            </div>
        </section>
    </header>

<main class="main_login">

    <form class="main_login_form" action="">
        <label for=""></label>
        <input type="text" placeholder="Nombre de usuario">
        <label for=""></label>
        <input type="password" placeholder="Contraseña">
        <button type="submit"> Enviar </button>
    </form>
</main>
<footer class="home_footer">
    <div>
        <i class="fas fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
            seguro!</p>
    </div>
    <div>
        <i class="fas fa-gift"></i>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
            Mercado Puntos.</p>
    </div>
    <div>
        <i class="fas fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devuélvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
            protegido.</p>
    </div>
    <div>
        <h4>Copyright © 1999-2023 MercadoLiebre S.R.L</h4>
    </div>
</footer>

</body>
</html>